@use '../../sass/variables' as *;

.ingredients-list-wrapper {
	min-width: 300px;
	padding: 10px;

	.ingredients-header {
		display: flex;
		justify-content: space-between;
		h3 {
			font-size: 18px;
			font-weight: 700;
		}
		span {
			font-weight: 500;
			color: $bw-50;
		}
	}

	.ingredients-list {
		display: flex;
		flex-flow: column nowrap;
		padding-top: 10px;
	}
}
