@use '../../sass/variables' as *;

button {
	flex-direction: row;
	padding: 10px 32px;
	border-radius: 30px;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	justify-content: center;
	align-items: center;
	display: flex;
	gap: 8px;

	&.info {
		&.primary {
			background-color: $cardinal-dark-5;
			color: $bw-100;

			&:hover {
				background-color: $cardinal-base;
			}

			&:active {
				background-color: $cardinal-light-5;
			}
		}

		&.secondary {
			background-color: white;
			color: $cardinal-dark-5;
			border: 2px $cardinal-dark-5 solid;

			&:hover {
				color: $cardinal-base;
				border-color: $cardinal-base;
				background-color: $cardinal-light-15;
			}
			&:active {
				color: $cardinal-base;
				border-color: $cardinal-base;
				background-color: $cardinal-light-20;
			}
		}

		&.tertiary {
			background-color: white;
			color: #567838;

			&:focus {
			}
			&:hover {
			}
			&:active {
			}
		}

		&:disabled {
			opacity: 0.5;
		}
	}

	&.neutral {
		&.primary {
			background-color: #505050;
			color: #ffffff;

			&:focus {
			}
			&:hover {
			}
			&:active {
			}
			&:disabled {
			}
		}

		&.secondary {
			background-color: white;
			color: #505050;
			border: 2px #505050 solid;

			&:focus {
			}
			&:hover {
			}
			&:active {
			}
			&:disabled {
			}
		}

		&.tertiary {
			background-color: white;
			color: #505050;

			&:hover {
				background-color: rgb(182, 182, 182);
			}

			&:focus {
			}
			&:hover {
			}
			&:active {
			}
			&:disabled {
			}
		}
	}

	&.danger {
		&.primary {
			background-color: #505050;
			color: #ffffff;

			&:focus {
			}
			&:hover {
			}
			&:active {
			}
			&:disabled {
			}
		}

		&.secondary {
			background-color: white;
			color: #505050;
			border: 2px #505050 solid;

			&:focus {
			}
			&:hover {
			}
			&:active {
			}
			&:disabled {
			}
		}

		&.tertiary {
			background-color: white;
			color: #505050;

			&:hover {
				background-color: rgb(182, 182, 182);
			}

			&:focus {
			}
			&:hover {
			}
			&:active {
			}
			&:disabled {
			}
		}
	}

	&.small {
		padding: 6px 24px;
		font-size: 14px;
	}

	&.icon {
		border-radius: 50%;
		padding: 10px;

		&.small {
			padding: 6px;
		}
	}
}
