// Color variables

// Black-White palete
$bw-0: #171717;
$bw-10: #2e2e2e;
$bw-20: #464646;
$bw-30: #5d5d5d;
$bw-40: #747474;
$bw-50: #8b8b8b;
$bw-60: #a2a2a2;
$bw-70: #b9b9b9;
$bw-80: #d1d1d1;
$bw-90: #e8e8e8;
$bw-100: #ffffff;

// Leaf Green
$leaf-dark-25: #11180b;
$leaf-dark-20: #223016;
$leaf-dark-15: #45602d;
$leaf-dark-10: #567838;
$leaf-dark-5: #78a74e;
$leaf-base: #8ab663;
$leaf-light-5: #99bf77;
$leaf-light-10: #b6d19e;
$leaf-light-15: #c5dab1;
$leaf-light-20: #e2edd8;
$leaf-light-25: #f0f6eb;

// Cardinial Red
$cardinal-dark-20: #211010;
$cardinal-dark-15: #43201f;
$cardinal-dark-10: #64312f;
$cardinal-dark-5: #86413e;
$cardinal-base: #a7514e;
$cardinal-light-5: #bc716e;
$cardinal-light-10: #cc9593;
$cardinal-light-15: #ddb8b7;
$cardinal-light-20: #eedcdb;

// Macau Blue
$macau-dark-20: #101821;
$macau-dark-15: #1f3043;
$macau-dark-10: #2f4864;
$macau-dark-5: #3e6086;
$macau-base: #4e78a7;
$macau-light-5: #6e93bc;
$macau-light-10: #93aecc;
$macau-light-15: #b7c9dd;
$macau-light-20: #dbe4ee;

// Canary Yellow
$canary-dark-20: #333101;
$canary-dark-15: #666203;
$canary-dark-10: #999304;
$canary-dark-5: #ccc406;
$canary-base: #f8ee0f;
$canary-light-5: #f9f13f;
$canary-light-10: #fbf56f;
$canary-light-15: #fcf89f;
$canary-light-20: #fefccf;
