@use '../../sass/variables' as *;

.instructions-list-wrapper {
	flex: 1;
	padding: 10px;
	position: relative;

	h3 {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 1rem;
	}

	.instructions-list {
		width: 100%;
		min-width: 500px;
		height: 600px;
		background-color: $cardinal-light-20;
		border: 2px $cardinal-dark-5 solid;
		border-radius: 2rem;
		overflow: scroll;
		position: relative;

		.instructions-list-container {
			position: absolute;
			width: max-content;
			top: 0;
			left: 0;
			padding: 2rem;
			display: flex;
			gap: 2rem;

			.instructions-group {
				width: 250px;
				display: flex;
				flex-flow: column nowrap;
				gap: 2rem;

				.instruction-group-header {
					font-size: 16px;
					font-weight: 600;
					text-align: center;
					color: $cardinal-dark-10;
				}

				.instruction-group-items {
					width: 250px;
					display: flex;
					flex-flow: column nowrap;
					gap: 1rem;

					.instruction-group-item {
						background-color: white;
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 1rem;
						font-size: 14px;
						border-radius: 0.5rem;
						border: 1px solid $cardinal-dark-5;
					}

					div {
						width: 250px;
						min-height: 80px;
					}
				}
			}
		}
	}
}
