@use '../../sass/variables' as *;

.instructions-list-wrapper {
	flex: 1;
	padding: 10px;
	position: relative;

	h3 {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 1rem;
	}

	.instructions-list {
		width: 100%;
		min-width: 500px;
		height: 600px;
		background-color: $cardinal-light-20;
		border: 2px $cardinal-dark-5 solid;
		border-radius: 2rem;
		overflow: scroll;
		position: relative;

		.instructions-list-container {
			position: absolute;
			width: max-content;
			padding: 2rem;

			.instruction-section-header-row {
				width: 100%;
				gap: 2rem;
				display: flex;
				color: $cardinal-dark-10;

				.instruction-section-header {
					font-size: 16px;
					font-weight: 600;
					flex: 1;
					text-align: center;
				}
			}

			.instruction-section-row {
				width: 100%;
				height: 80px;
				gap: 2rem;
				display: flex;
				align-items: center;

				div {
					// flex: 1;
					display: inline-block;
					text-align: center;
					margin-top: 15px;
					align-items: center;
					justify-content: center;
					padding: 10px;
					width: 250px;
					font-size: 14px;
				}

				.instruction-list-item {
					background-color: white;
					border-radius: 0.5rem;
					border: 1px solid $cardinal-dark-5;
				}
				.instruction-list-item-blank {
				}
			}
		}
	}
}
