@use '../../sass/variables' as *;

$slider-length: 250px;
$track-color: $cardinal-light-10;
$range-color: $cardinal-dark-5;
$text-color: $bw-10;

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 1rem;

	.slider {
		position: relative;
		width: $slider-length;
	}

	.slider__track,
	.slider__range,
	.slider__left-value,
	.slider__right-value {
		position: absolute;
	}

	.slider__track,
	.slider__range {
		border-radius: 3px;
		height: 5px;
	}

	.slider__track {
		background-color: $track-color;
		width: 100%;
		z-index: 1;
	}

	.slider__range {
		background-color: $range-color;
		z-index: 2;
	}

	.slider__left-value,
	.slider__right-value {
		color: $text-color;
		font-weight: 500;
		font-size: 16px;
		margin-top: 12px;
	}

	.slider__left-value {
		left: 4px;
	}

	.slider__right-value {
		right: 0px;
	}

	.thumb {
		/* Removing the default appearance */
		-webkit-appearance: none;
		-webkit-tap-highlight-color: transparent;
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			-webkit-tap-highlight-color: transparent;

			/* For Chrome browsers */
			background-color: $range-color;
			border: none;
			border-radius: 50%;
			cursor: pointer;
			height: 18px;
			width: 18px;
			margin-top: 4px;
			pointer-events: all;
			position: relative;
		}

		&::-moz-range-thumb {
			/* For Firefox browsers */
			background-color: $range-color;
			border: none;
			border-radius: 50%;
			cursor: pointer;
			height: 18px;
			width: 18px;
			margin-top: 4px;
			pointer-events: all;
			position: relative;
		}

		pointer-events: none;
		position: absolute;
		height: 0;
		width: $slider-length;
		outline: none;

		&.thumb--zindex-3 {
			z-index: 3;
		}

		&.thumb--zindex-4 {
			z-index: 4;
		}

		&.thumb--zindex-5 {
			z-index: 5;
		}
	}
}
