.items {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 25px;

	.center-container {
		flex: 1;
		display: flex;
		justify-content: center;
	}
}

.filter-section {
	padding: 2rem 1rem;
	flex: 1;
	flex-flow: row wrap;
	.filters {
		display: flex;
		gap: 5px;
	}
}
